.darkBackground {
  background-color: #d9d9d9;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow-y: auto;
}

.student-details {
  width: 80%;
  margin: 0 auto;
}

.section.flex {
  align-items: center;
}
.section.w-half {
  justify-content: flex-start !important;
}

.w-full {
  width: 100% !important;
  justify-content: space-between;
  align-items: center;
}

.w-half {
  width: 50% !important;
  justify-content: space-between;
  align-items: center;
}

p {
  color: #07427c;
  font-size: 25px !important;
}

.student-info,
.group-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 20px;
  gap: 33px;
  align-items: center;
}

.section {
  flex: 1 0 30%;
  background-color: #f9f9f9;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 29px;
  font-size: 1.7em;
  /* line-height: 1.5; */
  min-width: 250px;
  border-radius: 10px;
}

.group-info,
.currentLevel {
  width: 100%;
  background-color: #f9f9f9;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 20px;
  font-size: 1.2em;
  line-height: 53px;
  margin-top: 2rem;
  border-radius: 10px;
}

.group-info div:first-child {
  justify-content: space-between;
}

h2,
h3 {
  text-align: center;
  color: #111c43;
}

.attendanceRecords {
  background-color: #f9f9f9;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 20px;
  margin-top: 2rem;
  border-radius: 10px;
}
.attend {
  background-color: green !important;
}

.attendance {
  width: 100%;
  padding: 7px 8px;
  display: flex;
  justify-content: space-between;
  font-size: 1.4em;
  line-height: 1.5;
}

.checkboxAttend {
  width: 30px;
  height: 30px;
  background-color: #bfb6b6;
  border-radius: 6px;
}

.image {
  width: 85px;
  height: 85px;
  background-color: #bfb6b6;
  border-radius: 50%;
}

.currentLevel {
  display: flex;
  justify-content: space-between;
  font-size: 1.4em;
}

.wrap {
  flex-wrap: wrap;
}
.flex.w-full p {
  font-size: 23px !important;
}

/*--------------------  Media Query --------------------- */

@media screen and (min-width: 1716px) and (max-width: 1860px) {
  .student-details {
    width: 100%;
  }
}

@media screen and (min-width: 1508px) and (max-width: 1716px) {
  .student-details {
    width: 100%;
    margin: 0 auto;
  }
  .spaceX {
    width: 89% !important;
  }
}
@media screen and (min-width: 1416px) and (max-width: 1508px) {
  .student-details {
    width: 100%;
    margin: 0 auto;
  }

  .spaceX {
    width: 96% !important;
  }
}
@media screen and (min-width: 1329px) and (max-width: 1416px) {
  .student-details {
    width: 100%;
    margin: 0 auto;
  }
  .spaceX {
    width: 96% !important;
  }
  .student-details .section {
    /*flex: 0 1 70%; /* Resets the flex property */
    flex: 1 1 40%;
  }
}
@media screen and (min-width: 1205px) and (max-width: 1329px) {
  p {
    font-size: 19px !important;
  }
  .student-details {
    width: 100%;
    margin: 0 auto;
  }
  .spaceX {
    width: 96% !important;
  }
  .student-info {
    justify-content: center !important;
  }

  .student-details .section {
    /*flex: 0 1 70%; /* Resets the flex property */
    flex: 1 1 47%;
  }

  .group-info div:first-child {
    flex-wrap: wrap !important;
    justify-content: center !important;
  }
  .flex.wrap.w-half {
    width: 100% !important;
  }
  .currentLevel {
    flex-wrap: wrap !important;
  }
}
@media screen and (min-width: 1019px) and (max-width: 1205px) {
  p {
    font-size: 19px !important;
  }
  .student-details {
    width: 100%;
    margin: 0 auto;
  }
  .spaceX {
    width: 96% !important;
  }
  .student-info {
    justify-content: center !important;
  }

  .student-details .section {
    /*flex: 0 1 70%; /* Resets the flex property */
    flex: 1 1 70%;
  }

  .group-info div:first-child {
    flex-wrap: wrap !important;
  }
  .flex.wrap.w-half {
    width: 100% !important;
  }
  .currentLevel {
    flex-wrap: wrap !important;
  }
}

@media screen and (min-width: 607px) and (max-width: 1019px) {
  .darkBackground {
    padding: 0px 17px;
  }
  .student-details {
    width: 100%;
    margin: 0 auto;
  }
  .spaceX {
    width: 96% !important;
  }
  .student-info {
    justify-content: center !important;
  }
  .student-details .section {
    flex: auto; /* Resets the flex property */
  }
  .spaceX {
    width: 98% !important;
  }
  .group-info div:first-child {
    flex-wrap: wrap !important;
    justify-content: center !important;
  }
  .flex.wrap.w-half {
    width: 100% !important;
  }
  .currentLevel {
    flex-wrap: wrap !important;
  }

  p {
    font-size: 19px !important;
  }
  .student-details a {
    font-size: 20px !important;
  }
}

@media screen and (max-width: 607px) {
  .darkBackground {
    padding: 0px 17px;
  }
  p {
    font-size: 16px !important;
  }
  .student-details {
    width: 100%;
    margin: 0 auto;
    font-size: 10px !important;
  }
  .spaceX {
    width: 96% !important;
  }
  .student-info {
    justify-content: center !important;
    font-size: 10px !important;
  }
  .student-details .section {
    flex: auto; /* Resets the flex property */
    font-size: 10px !important;
  }
  .spaceX {
    width: 98% !important;
  }
  .group-info div:first-child {
    font-size: 10px !important;
    gap: 8px !important ;
  }
  .flex {
    gap: 10px !important;
  }
  .group-info p {
    font-size: 13px;
  }
  .group-info div:first-child {
    flex-wrap: wrap;
  }
  wrap.w-half {
    width: 100% !important;
  }
  .currentLevel {
    flex-wrap: wrap !important;
  }
  .flex.w-full p {
    font-size: 16px !important;
  }
}
