.createNewUswerPage {
  display: flex;
  gap: 20px;
}

.header {
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 17px;
  border-radius: 10px;
  margin-bottom: 34px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #4450a8;
  font-weight: 100;
}
.header h1 {
  font-weight: 600;
  font-size: 29px;
}

.flex {
  display: flex;
  gap: 30px;
}

form .flex {
  margin-top: 23px;
}

form {
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 10px;
  width: 50vw;
  padding: 11px 16px 39px 16px;
}
.myform {
  margin-right: 11px;
}
label {
  display: block;
  margin-bottom: 6px;
  margin-right: 8px;
  font-size: 20px;
  color: #8f7e7ecf;
  font-weight: 300;
}
label::after {
  content: " *";
  color: red;
  font-weight: 800;
}

input {
  padding: 5px 9px;
  width: 100%;
  border: 1px solid rgb(229 220 220);
  border-radius: 5px;
  margin-bottom: 12px;
  font-size: 23px;
}

.w-half {
  width: calc(100% / 2);
}

.w-third {
  width: calc(100% / 3);
}

.birthday {
  margin-top: 16px;
}
.submitForm {
  text-align: center;
  margin-top: 1rem;
}
.submitForm button {
  background-color: #d2d8ff;
  padding: 2px 6rem;
  border: none;
  outline: none;
  font-size: 22px;
  font-weight: 200;
  border-radius: 10px;
  cursor: pointer;
}

.error {
  color: red;
  font-size: 21px !important;
  font-weight: 400;
}

.header img {
  width: 39px;
}
h1 {
  font-size: 27px;
}

/* ---------------------------- Media Query ---------------------- */
@media screen and (min-width: 1516px) and (max-width: 1642px) {
  form {
    width: 53vw;
  }

  .header img {
    width: 39px !important;
  }
  h1 {
    font-size: 27px !important;
  }

  .error {
    font-size: 20px !important;
  }
}
@media screen and (min-width: 1302px) and (max-width: 1516px) {
  form {
    width: 57vw;
  }
  p {
    font-size: 10px !important;
  }

  .header img {
    width: 38px !important;
  }
  h1 {
    font-size: 26px !important;
  }

  .error {
    font-size: 18px !important;
  }
}
@media screen and (min-width: 1100px) and (max-width: 1303px) {
  form {
    width: 60vw;
  }
  p {
    font-size: 10px !important;
  }
  input {
    font-size: 15px !important;
  }

  .header img {
    width: 37px !important;
  }
  h1 {
    font-size: 25px !important;
  }
  .error {
    font-size: 18px !important;
  }
}

@media screen and (min-width: 900px) and (max-width: 1100px) {
  form {
    width: 65vw;
  }
  .myform {
    margin-right: 0 !important;
  }
  p {
    font-size: 10px !important;
  }
  input {
    font-size: 15px !important;
  }
  .header img {
    width: 38px !important;
  }
  h1 {
    font-size: 25px !important;
  }
  .error {
    font-size: 18px !important;
  }
}
@media screen and (min-width: 805px) and (max-width: 900px) {
  form {
    width: 63vw;
  }

  .myform {
    margin-right: 0 !important;
  }
  p {
    font-size: 10px !important;
  }
  input {
    font-size: 15px !important;
  }

  form .flex {
    gap: 10px !important;
  }
  .header img {
    width: 37px !important;
  }
  h1 {
    font-size: 23px !important;
  }
  .error {
    font-size: 18px !important;
  }
}
@media screen and (min-width: 600px) and (max-width: 805px) {
  form {
    width: 90vw;
  }
  .myform {
    margin-right: 0 !important;
  }
  .createNewUswerPage {
    justify-content: center !important;
    padding: 20px 0;
  }
  p {
    font-size: 10px !important;
  }
  input {
    font-size: 15px !important;
  }

  form .flex {
    gap: 10px !important;
  }
  .header img {
    width: 34px !important;
  }
  h1 {
    font-size: 20px !important;
  }
  .error {
    font-size: 17px !important;
  }
}

@media screen and (min-width: 400px) and (max-width: 600px) {
  form {
    width: 97vw;
  }
  label {
    font-size: 14px !important;
  }
  .myform {
    margin-right: 0 !important;
  }
  .createNewUswerPage {
    justify-content: center !important;
    padding: 20px 0;
  }
  p {
    font-size: 10px !important;
  }
  input {
    font-size: 15px !important;
    padding: 4px !important;
  }
  h1 {
    font-size: 20px !important;
  }
  form .flex {
    gap: 10px !important;
  }
  button {
    padding: 2px 4rem !important;
    font-size: 20px !important;
  }
  .header img {
    width: 34px !important;
  }
  .error {
    font-size: 16px !important;
  }
}

@media screen and (max-width: 400px) {
  form {
    width: 99vw;
  }
  label {
    font-size: 14px !important;
  }
  .myform {
    margin-right: 0 !important;
  }
  .createNewUswerPage {
    justify-content: center !important;
    padding: 20px 0;
  }
  p {
    font-size: 10px !important;
  }
  input {
    font-size: 15px !important;
    padding: 4px !important;
  }
  h1 {
    color: red !important;
    font-size: 20px !important;
  }
  form .flex {
    gap: 10px !important;
  }
  button {
    padding: 2px 4rem !important;
    font-size: 20px !important;
  }
  .header img {
    width: 34px !important;
  }
  .error {
    font-size: 16px !important;
  }
}
