@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  direction: rtl;
  font-family: "Cairo", sans-serif !important;
}

body {
  background-color: #f6f6f6;
  font-family: "Cairo", sans-serif !important;
  /* font-optical-sizing: auto; */
  /* font-weight: 300; */
  /* font-style: italic; */
  /* font-variation-settings: "slnt" 0; */
}

.cairo-a {
}
